# Ignore local library testing files #
test.*

# Ignore possible nodemodules #
**/node_modules/

# Compiled files #
*.pyc
*.exe

# Compiled TypeScript #
typescript/*.js

# Visual Studio files #
**/.vs/
**/bin/
**/obj/

# Project files #
*.sln
*.csproj

# Python cache #
**/__pycache__/