# Library testing files #
test.*

# Possible nodemodules #
**/node_modules/

# Compiled files #
*.pyc
*.exe

# Compiled TypeScript #
typescript/**/*.js

# TypeScript compiler options #
typescript/tsconfig.json

# Visual Studio files #
**/.vs/
**/bin/
**/obj/

# Project files #
*.sln
*.csproj

# Python cache #
**/__pycache__/

# Package files #
package.json
package-lock.json